<style>
  img:hover{
    background-color: #ccc;
    border-radius: 15px;
  }
</style>

<br>
<h1 align="center" style="font-family:jejumyeongjo;">공유하기</h1>

<hr>

<div class="container">
    <div class="row">
    <div class = "col-3">
      <%= link_to image_tag("/10.png"), "http://www.facebook.com" , class: "image_button"%>
    </div>
    <div class = "col-3">
      <%= link_to image_tag("/11.png"), "http://www.youtube.com" , class: "image_button"%>
    </div>
    <div class = "col-3">
      <%= link_to image_tag("/6.png"), "http://www.instagram.com" , class: "image_button"%>
    </div>
    <div class = "col-3">
      <%= link_to image_tag("/12.png"), "http://steemit.com" , class: "image_button"%>
    </div>
    </div>
</div>
