<h1 align="center"> 7월 </h1>

<table class="table table-lg shadow p-3 mb-5 bg-white rounded" style="text-align:center; border:50px;">
    <thead>
      <tr>
        <th scope="col" style="color:red;">SUN</th>
        <th scope="col">MON</th>
        <th scope="col">TUE</th>
        <th scope="col">WED</th>
        <th scope="col">THR</th>
        <th scope="col">FRI</th>
        <th scope="col" style="color:blue;">SAT</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th style="color:red;">1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th style="color:blue;">7</th>
        </tr>
        <tr>
            <th style="color:red;">8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th style="color:blue;">14</th>
        </tr>
        <tr>
            <th style="color:red;">15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th style="color:blue;">21</th>
        </tr>
        <tr>
            <th style="color:red;">22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th style="color:blue;">28</th>
        </tr>
        <tr>
            <th style="color:red;">29</th>
            <th>30</th>
            <th>31</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
  </table>